<div class="content">
    <div class="container">
      <table class="card">
        <thead>
          <tr>
            <th>Danh mục</th>
            <th>Tài khoản</th>
            <th>Giá trị</th>
            <th>Thời gian</th>
            <th>Edit</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of paginatedData ; let i =index" [class.active]="isActive[i+1]">
            <td>
              <span>{{item.type}}</span>
            </td>
            <td>
              <span>{{item.nameWallet}}</span>
            </td>
            <td>
              <span *ngIf="!isEditing[i+1]">{{item.amount}}</span>
              <input *ngIf="isEditing[i+1]" [(ngModel)]="item.amount" type="text" />
            </td>
            <td>
              <span *ngIf="!isEditing[i+1]">{{item.time}}</span>
              <input *ngIf="isEditing[i+1]" [(ngModel)]="item.time" type="text" />
            </td>
            <td>
              <i (click)="toggleMenu(i+1)" class="fa-solid fa-sliders"></i>
              <div *ngIf="showMenu[i+1]" class="dropdown-menu">
                <div class="menu-item" (click)="editItem(i+1)">Chỉnh sửa</div>
                <div class="menu-item" (click)="deleteItem(item.id - 1)">Xóa</div>
              </div>
              <div *ngIf="isEditing[i+1]">
                <button (click)="saveItem(i+1)">Lưu</button>
                <button (click)="cancelEdit(i+1)">Hủy</button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
  
      <!-- Phân trang -->
      <div class="pagination">
        <button (click)="previousPage()" [disabled]="currentPage === 1">Trước</button>
        <span>Trang {{currentPage}} / {{totalPages}}</span>
        <button (click)="nextPage()" [disabled]="currentPage === totalPages">Tiếp</button>
      </div>
  
      <div class="menu-edit"></div>
    </div>
  </div>