<div class="content">
    <div class="container">
        <div class="left-container">
            <div class="add-trans card"> 
                <div class="btn-add">
                    <button><i class="fa-solid fa-money-bill-transfer" style="color: #005cfa;"></i>Chuyển tiền</button>
                </div>
                <div class="btn-add">
                    <button><i class="fa-solid fa-minus" style="color: #fd082c;"></i> Chi phí</button>
                </div>
                <div class="btn-add">
                    <button><i class="fa-solid fa-plus" style="color: #63E6BE;"></i>Thu nhập</button>
                </div>
            </div>
            <div class="transactions card">
                <div class="title">
                    Các giao dịch <span (click)="pageTransaction()">Xem thêm</span>
                </div>
                <div class="row">
                    <div class="col-1">
                        <div class="icon">
                            <i class="fa-solid fa-cart-shopping" style="color: #f8f9fc;"></i>
                        </div>
                        <div class="info">
                            <div class="type">Đồ ăn/đồ uống</div>
                            <div class="type-wallet">Atm</div>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="amout">-35.000VND</div>
                        <div class="time">12/04/2025</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-1">
                        <div class="icon">
                            <i class="fa-solid fa-cart-shopping" style="color: #f8f9fc;"></i>
                        </div>
                        <div class="info">
                            <div class="type">Đồ ăn/đồ uống</div>
                            <div class="type-wallet">Atm</div>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="amout">-35.000VND</div>
                        <div class="time">12/04/2025</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-1">
                        <div class="icon">
                            <i class="fa-solid fa-cart-shopping" style="color: #f8f9fc;"></i>
                        </div>
                        <div class="info">
                            <div class="type">Đồ ăn/đồ uống</div>
                            <div class="type-wallet">Atm</div>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="amout">-35.000VND</div>
                        <div class="time">12/04/2025</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-1">
                        <div class="icon">
                            <i class="fa-solid fa-cart-shopping" style="color: #f8f9fc;"></i>
                        </div>
                        <div class="info">
                            <div class="type">Đồ ăn/đồ uống</div>
                            <div class="type-wallet">Atm</div>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="amout">-35.000VND</div>
                        <div class="time">12/04/2025</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-1">
                        <div class="icon">
                            <i class="fa-solid fa-cart-shopping" style="color: #f8f9fc;"></i>
                        </div>
                        <div class="info">
                            <div class="type">Đồ ăn/đồ uống</div>
                            <div class="type-wallet">Atm</div>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="amout">-35.000VND</div>
                        <div class="time">12/04/2025</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="right-container">
            <div class="balance card">
                <div class="title">
                    <p>Số dư</p>
                    <span>Tổng số tiền đang sở hữu: 253.000VND</span>
                    <div class="chart-container">
                        <canvasjs-chart [options]="chartOptions"></canvasjs-chart>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>